@import url(milligram.min.css);
@import url(gh-corners.css);

html {

}
body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #414141;
    font-size: 20px;
    background: url(../images/bg.png) repeat-x;
}
h1 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 10rem;
    letter-spacing: -0.08em;
    margin-top: -30px;
}

h1 a {
    color: #414141!important;
}

h1 a:hover {
    color: #414141!important;
    text-decoration: none;
}

h2 {
    font-family: 'Averia Sans Libre', cursive;
}
.header {
    margin-bottom: 150px;
}
.symbol {
    background: url(../images/symbol.png) no-repeat;
    width: 360px;
    height: 150px;
    position: absolute;
    top: 178px;
    right: 0;
    margin: 0!important;
}
.switchit {
    margin-top: 80px;
}

.averia {
    font-family:'Averia Sans Libre', cursive;
    letter-spacing: -0.05em;
}
p {
    margin:40px 0;
}
.feature-teaser {
    padding: 0 50px;
    line-height: 30px;
}
a {
    color: cornflowerblue;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

hr {
    border-top-color: darkgrey;
}

.showcase {
    color: white;
    background-color:dodgerblue;
    padding: 30px 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%!important;
    margin-bottom: 20px;
}

.showcase > .row {
    margin: 0 auto;
    max-width: 80%;
}

.showcase .row.buttons {
    display: none;
    visibility: hidden;
}
.showcase p a {
    color: white!important;
    font-weight: bold;
}
.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

pre {
    font-size: 15px;
    border-left-color: cornflowerblue;
    overflow: scroll;
}

code[class*="language-"], pre[class*="language-"] {
    padding: 0!important;
}

button.button-outline, button.button-outline:focus {
    color: white!important;
    border: .1em solid white!important;
}

button.button-outline:hover {
    background-color: #414141!important;
    border-color: #414141!important;
}

button.button-outline.active, button.button-outline.active:hover {
    background-color: white!important;
    color: dodgerblue!important;
    border-color: white!important;
}

.terminal-window {
    min-height: 450px;
    height: 80%;
}

.terminal-window header.row {
    flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2.0rem)
}

.terminal-window section.terminal .code {
    border-left: none;
    border-top: solid #2b3035;
}

.terminal-window .code pre {
    border: none;
    background: none;
    font-size: 18px!important;
}

/* Larger than mobile-m screen */
@media (min-width: 45.0rem) {
    h1 {
        font-size: 150px;
        letter-spacing: -0.1em;
        visibility: visible;
        display: unset;
    }
    .header {
        margin-bottom:50px;
    }
    .symbol {
        position: absolute;
        top: 178px;
        width: 394px;
    }
    .showcase {
        height: 950px;
    }
    .showcase .row.buttons {
        display: flex;
        visibility: visible;
    }
    .button {
        width: 100%;
    }
    .terminal-window section.terminal .code {
        border-top: none;
        border-left: solid #2b3035;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    .symbol {
    }
    .button {
        width: inherit;
    }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}